.container {
    margin-top: 5rem;
 }
 .main_content {
    padding-top: 0.5rem;
 }

 .errorMsg {
  color: red;
  font-size: 12px;
  text-align: center
}
.textclass{
   font-family: 'fs_emericregular';
   font-size: 12px;
}
