ion-app {
    width:80%;
}

img {
    height: 1rem;
}

ion-img {
    height: 4rem;
}

.submit-btn {

    //height: 36px;
    //width: 107.76px;
    //border-radius: 4px;
    --background: #FFC72C; 
  
  }