<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
  <form [formGroup] = "changePasswordForm" autocomplete="off" #formDirective = "ngForm" (ngSubmit) = "onSubmit(formDirective)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating" class="textclass">Login ID <ion-text color="danger">*</ion-text></ion-label>
        <ion-input 
        type="text"
        required 
        formControlName="loginid"
        maxlength="12"
        readonly
        >
      </ion-input>
      </ion-item>
      <div *ngIf= "this.changePasswordForm.controls['loginid'].touched && this.changePasswordForm.controls['loginid'].invalid" class="text-danger">
        <div *ngIf="this.changePasswordForm.controls['loginid'].errors.required">
          <ion-icon name="ios-information-circle-outline"></ion-icon> Login ID is required
        </div>
      </div>
      <br>
      <ion-item>
        <ion-label position="floating" class="textclass">New Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input 
        type="password"
        required 
        formControlName="password"
        (ionChange) = "checkPassword()"
        maxlength="20"
        >
      </ion-input>
      </ion-item>
      <div *ngIf= "this.changePasswordForm.controls['password'].touched && this.changePasswordForm.controls['password'].invalid" class="text-danger">
        <div *ngIf="this.changePasswordForm.controls['password'].errors.required">
          <ion-icon name="ios-information-circle-outline"></ion-icon>  New Password is required
        </div>
      </div>
      <br>
      <ion-item>
        <ion-label position="floating" class="textclass">Confirm Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input 
        required 
        formControlName="confirmPassword"
        type="password"
        (ionChange) = "checkPassword()"
        maxlength="20"
        >
      </ion-input>
      </ion-item>
      <div *ngIf= "this.changePasswordForm.controls['confirmPassword'].touched && this.changePasswordForm.controls['confirmPassword'].invalid" class="text-danger">
        <div *ngIf="this.changePasswordForm.controls['confirmPassword'].errors.required">
          <ion-icon name="ios-information-circle-outline"></ion-icon> Confirm Password is required
        </div>
      </div>
      <div *ngIf="showPasswordErrMsg" class="text-danger">
        <ion-icon name="ios-information-circle-outline"></ion-icon>  Passwords did not match
      </div>
      <br>
      <ion-item>
        <ion-label position="floating" class="textclass">New mPIN  <ion-text color="danger">*</ion-text></ion-label>
        <ion-input 
        type="tel"
        required 
        formControlName="mpin"
        style="-webkit-text-security:disc; font-size: 20px;"
        maxlength="4"
        (ionChange) = "checkmPIN()"
       >
      </ion-input>
      </ion-item>
      <div *ngIf= "this.changePasswordForm.controls['mpin'].touched && this.changePasswordForm.controls['mpin'].invalid" class="text-danger">
        <div *ngIf="this.changePasswordForm.controls['mpin'].errors.required">
          <ion-icon name="ios-information-circle-outline"></ion-icon> Please enter New mPIN
        </div>

        <div *ngIf="this.changePasswordForm.controls['mpin'].errors.pattern">
          <ion-icon name="ios-information-circle-outline"></ion-icon> mPIN allows only numerics
        </div>

        <div *ngIf="this.changePasswordForm.controls['mpin'].errors.minlength">
          <ion-icon name="ios-information-circle-outline"></ion-icon> mPIN must be 4 digits
        </div>
      </div>
      <br>
      <ion-item>
        <ion-label position="floating" class="textclass">Confirm mPIN <ion-text color="danger">*</ion-text></ion-label>
        <ion-input 
          type="tel"
          required 
          formControlName="confirmMpin"
          style="-webkit-text-security:disc; font-size: 20px;"
          maxlength="4"
          (ionChange) = "checkmPIN()"
        ></ion-input>
      </ion-item>
      <div *ngIf= "this.changePasswordForm.controls['confirmMpin'].touched && this.changePasswordForm.controls['confirmMpin'].invalid" class="text-danger">
        <div *ngIf="this.changePasswordForm.controls['confirmMpin'].errors.required">
          <ion-icon name="ios-information-circle-outline"></ion-icon> Please enter Confirm mPIN
        </div>

        <div *ngIf="this.changePasswordForm.controls['confirmMpin'].errors.pattern">
          <ion-icon name="ios-information-circle-outline"></ion-icon> mPIN allows only numerics
        </div>
        
        <div *ngIf="this.changePasswordForm.controls['confirmMpin'].errors.minlength">
          <ion-icon name="ios-information-circle-outline"></ion-icon> mPIN must be 4 digits
        </div>
      </div>
      <div *ngIf="showmPINErrMsg" class="text-danger">
        <ion-icon name="ios-information-circle-outline"></ion-icon> mPIN did not match
      </div>
      <br>
      
      <div class="ion-padding">
        <ion-button expand="block"
          fill = "outline"
          type="submit"
          color = "dark"
          [disabled] = "showmPINErrMsg || showPasswordErrMsg">
            Change Password
        </ion-button>
      </div>
    </ion-list>
    </form>
  </ion-card-content>
</ion-content>
