.data{
    background: linear-gradient(to right, #56ab2f, #a8e063)
}
.data1 {
    background: linear-gradient(to right, #ec008c, #fc6767)
}
.data2 {
    background: linear-gradient(to right, #00b4db, #0083b0)
}
.btn-txt {

    //height: 18px;
    //width: 69px;
    //color: #FFFFFF;
    //color: #56565B;
    color: #ffffff;
    font-size: 20px;
    //line-height: 18px;
   text-align: center;
   //font-family: 'fs_emericregular';
}

.dummy {
    height: 8rem;
    width: 4rem;
}