.card-txt {
    color: #FFFFFF;
    font-family: 'fs_emericregular'; 
}
.label{
    text-align: center;
}
.pricebreakup{
    background-color: greenyellow;
    border-radius: 10px;
    width: 50vw;
    height: 50vh ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
  }
  .my-custom-modal-css .modal-wrapper {
    height: 50%;
    width: 80%;
    top: 20%;
    padding: 10%;
    position: absolute;
    display: block;
    border-radius: 2%;
    }

    .completedtxt {
        color: green;
  };
    .pendingtxt {
        color: #F7681C;
  };
    .notstartedtxt {
        color: blueviolet;
  }