<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Subjects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size = "4" *ngFor = "let subject of subjects">
        <ion-card [class] = "subject.CSSCLASS"
        (click) = "navigateToLessons(subject.CURSUBID, subject.SUBJECTNAME, subject.CSSCLASS, subject.CSSIMAGE)">
          <img src="../../../assets/images/{{subject.CSSIMAGE}}.png" />
        </ion-card>
        <ion-text class="ion-text-center">
          <p>{{subject.SUBJECTNAME}}</p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row *ngIf = "displayMessage">
      <ion-col size = "12" class="ion-text-center">
        <ion-text>
          <h5>No Subjects to Display.</h5>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>