
img {
    max-width: 100%;
    max-height: 100%;
}
.langtxt{
    text-align: center;
    font: SemiBold 20px/30px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 3px 6px #090909;
    opacity: 1;
}