
.imgcls{
margin-left: -20px;
}
.center{
text-align:center;
}
.errorMsg {
color: #5278D2;
font-size: 14px;
text-align: center
}
.errorMsg1 {
color: red;
text-align: center
}
.card-txt {
    color: #FFFFFF;
    // font-family: 'fs_emericregular'; 
}

