.card-txt {
    color: #FFFFFF;
    font-family: 'fs_emericregular'; 
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  };
  .example-radio-button {
    margin: 5px;
  };