<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons slot="end">
      <ion-button (click) = "closeModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Videos List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor = "let video of savedVideos; let i = index">
    <video accept="video/*" height="100%" width="100%" controls controlsList="nodownload">
      <source [src]="video.VIDEOAUDIOPATH" />
    </video>

    <ion-item>
      <ion-avatar slot="start" [class] = "cssClass">
        <ion-img src = "../../../assets/images/{{cssImage}}.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h1>{{subjectName}}</h1>
        <p>{{lessonName}}</p>
      </ion-label>
    </ion-item>

    <br>

    <ion-item lines="none" *ngIf = "video.TEACHERREMARKS.length > 0">
      <ion-text>
        <p>{{video.TEACHERREMARKS}}</p>
      </ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-buttons slot="end">
        <ion-button [disabled] = "video.VIDEOSTATUS === 3 || video.VIDEOSTATUS === 4" (click) = "editVideo(video)"
        color = "primary" fill="clear" size="small">
          EDIT
          <!-- <ion-icon slot="end" name="create-outline"></ion-icon> -->
        </ion-button>
        <ion-button [disabled] = "video.VIDEOSTATUS === 3 || video.VIDEOSTATUS === 4" (click) = "deleteVideo(video)"
        color = "danger" fill="clear" size="small">
          DELETE
          <!-- <ion-icon slot="end" name="trash-outline"></ion-icon> -->
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>

  <ion-card *ngIf = "showNoVideo" style="height: 30vh; padding-top: 3.5rem;">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>{{lessonName}}</ion-card-subtitle>
      <ion-card-title>{{subjectName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-text class="ion-text-center">
        <h2>There are no videos to display.</h2>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
