  /* webkit solution */
  .container {
    margin-top: 2rem;
  }
  div {
    padding-bottom: 0.3rem ;
  }
  input, button {
    height: 3rem;
    border-radius: 0px;
  }
  .form-control:focus {
    border-color: #0364FB;  
    box-shadow: none; 
    -webkit-box-shadow: none;
  }
  ::-webkit-input-placeholder { text-align:right; }
  /* mozilla solution */
  input:-moz-placeholder { text-align:right; }
  
  .form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 15px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 100%;
    transform: translate3d(-10%, -110%, 0);
    opacity: 1;
    color: #0364FB;
  }
  
  .form-control.ng-touched.ng-invalid{
    border:1px solid red;
  }
  
  
  // .form-control:valid + .form-control-placeholder 
  
  
  