<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
  <form [formGroup] = "resetPasswordForm" autocomplete="off" #formDirective = "ngForm" (ngSubmit) = "onSubmit(formDirective)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating" required>Login ID<ion-text color="danger">*</ion-text></ion-label>
        <ion-input 
        type="text"
        required 
        formControlName="loginid"
        maxlength="12"
        >
      </ion-input>
      </ion-item>
      <div *ngIf= "this.resetPasswordForm.controls['loginid'].touched && this.resetPasswordForm.controls['loginid'].invalid" class="text-danger">
        <div *ngIf="this.resetPasswordForm.controls['loginid'].errors.required">
          <ion-icon name="ios-information-circle-outline"></ion-icon> Login ID is required
        </div>
      </div>
      <br>
     <!--  <ion-item>
        <ion-label position="floating" >Mobile  Number <ion-text color="danger">*</ion-text></ion-label>
        <ion-input 
        type="text"
        required 
        formControlName="mobilenumber"
        maxlength="20"
        >
      </ion-input>
      </ion-item>
      <div *ngIf= "this.resetPasswordForm.controls['mobilenumber'].touched && this.resetPasswordForm.controls['mobilenumber'].invalid" class="text-danger">
              <div *ngIf="this.resetPasswordForm.controls['mobilenumber'].errors.required">
                <ion-icon name="ios-information-circle-outline"></ion-icon> Mobile Number is required
              </div>
            </div> -->
      <br>
      <div class="ion-padding">
        <ion-button expand="block" color = "dark" fill = "outline" type="submit">
          RESET PASSWORD
        </ion-button>
      </div>
    </ion-list>
    </form>
  </ion-card-content>
</ion-content>
