/* ion-card {
    background-color: #F0F8FF;
    color: black;
}

.submitBtn {
    background-color: #FF4500;
}

ion-col {

   padding-left: 0;
   padding-right: 0;
   padding-top: 0;
   padding-bottom: 0;
}

.headerfont {
    font-family: 'glosa_romanroman';
    font-size: 15px;
    color: #56565B;
  } */
  .example-full-width {
    width: 100%;
  }